body{
    background: url("/static/images/background1.png");
    background-size: cover;
}

@font-face {
    font-family: 'dk_lemon_yellow_sunregular'; ''
    src: url('/static/webfont/dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
    url('/static/webfont/dk_lemon_yellow_sun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bigbox{
    width: auto;
    height: 250px;
}

.section{
    padding: 40px 0;
}

.cellsize{
    height: 160px;
    width: 33%;
    color: #ffffff;
}

.main h1{
    font-size: 2.8em;
    /*font-weight: bold;*/
    font-family: 'DK Lemon Yellow Sun','dk_lemon_yellow_sunregular','Amatic SC', cursive, sans-serif;
}

.main p{
    font-family: 'Amatic SC', cursive, monospace, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}
.main button{
    font-family: "dk_lemon_yellow_sunregular",'Amatic SC', cursive, monospace, sans-serif;
    font-size: 1.5em;
}
.punishbutton {
    width: 164px;
    height: 72px;
    font-family: 'DK Lemon Yellow Sun','dk_lemon_yellow_sunregular','Amatic SC', cursive, monospace, sans-serif;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid white;
    background-color: inherit;
}
.section h3 {
    font-family: "r0c0i SUNN Pro",'Amatic SC', cursive, monospace, sans-serif;
    font-size: 2em;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}