body{
    background: url("/static/images/background1.png");
    background-size: cover;
}

.bigbox{
    width: auto;
    height: 250px;
}

.section{
    padding: 40px 0;
}

/*.section img{*/
    /*width:100%;*/
/*}*/

.cellsize{
    height: 160px;
    width: 33%;
    color: #ffffff;
}

.main h1{
    font-size: 2.8em;
    font-weight: bold;
    font-family: "DK Lemon Yellow Sun", Chiller, Georgia, sans-serif;
}

.main p{
    font-family: "r0c0i SUNN Pro", sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.main button{
    font-family: "DK Lemon Yellow Sun", sans-serif;
    font-size: 1.5em;
}
.punishbutton {
    width: 164px;
    height: 72px;
    font-family: "DK Lemon Yellow Sun", Chiller, Georgia, sans-serif;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid white;
    background-color: inherit;
}
.section h3 {
    font-family: "r0c0i SUNN Pro", sans-serif;
    font-size: 2em;
}